<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Food Tracker</title>
</head>
<body>
    <h1>Food Tracker</h1>
    <h2>Alimentação Saudável, Vida Saudável</h2>
    <div id="login-page">
        <h3>Login</h3>
        <form id="frmLogin">
            <input type="text" id="txbUsername" name="txbUsername" placeholder="Nome de Usuário" required>
            <input type="password" id="txbPassword" name="txbPassword" placeholder="Senha" required>
            <a href="#">Esqueceu a senha?</a>
            <button type="submit" id="btnLogin">Entrar</button>
        </form>
        <a href="#">Não tem uma conta?</a>
    </div>
    
    <!-- <script type="module" src="https://pyscript.net/releases/2023.11.1/core.js"></script>
    <py-env>
       - paths:
        - src/scripts
        - src/authentication
    </py-env>
    <script type="py" src="src/scripts/loginController.py"></script> -->
</body>
</html>